/* reset default margin and padding */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
nav {
  background-color: rgb(34, 34, 34);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav-links {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-name a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header li {
  margin-left: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease;
}

a:hover {
  color: rgb(119, 189, 132);
}

/* set base font size and family */
html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* add spacing to the header and footer */

/* style the main content */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* style the article elements */
article {
  margin-bottom: 30px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.col-md-6 {
  flex-basis: calc(50% - 15px);
  margin-bottom: 30px;
}
/* style the headings */
h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

/* style the paragraphs */
p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

/* style links */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

